body{
    background-color:black;
 
}
#callb{
    background: rgb(255,124,0);
    background: -webkit-linear-gradient(90deg, rgba(255,124,0,1) 13%, rgba(9,121,69,1) 59%, rgba(255,255,255,1) 81%);
    position: relative;
    top: 230px;
    font-size:75px;
    font-family:Verdana, Geneva, Tahoma;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*{
    margin: 0px;
    padding: 0px;
}


